<div class="navbar titlebar">
	<div class="navbar-inner">
		<a class="brand"><%=given.itemName.plural %></a>
		
		<% if(given.showAdd) {%>
			<a class="btn navbar-btn pull-right" id="addRow"><i class="icon-plus"></i></a>
		<%}%>

		<form class="navbar-form pull-right">
			<input id="filter" type="search" placeholder="Search..."/>
		</form>

	</div>
</div>
<table class="content table table-bordered">
	<thead class="subheading">
		<tr>
			<% $.each(given.fields, function(index, field){ %>
				<th width="<%=field.width%>%" data-key="<%=field.key%>"><%=field.label%> <i class="icon-chevron-up"></i></th>
			<% i++ ; }); %>
		</tr>
	</thead>
	<tbody></tbody>
</table>