body {
	background-color: #eeeeee;
}

.navbar-inner {
	padding-left:12px;
	padding-right:12px;
}

.navbar.titlebar {
	position: fixed;
		top: 0;
		left: 0;
		right: 0;

	z-index: 1000;

	height: 42px;

	margin-bottom: 0px;
}

.content.table {
	position: absolute;
		top: 42px;
		left: 0;
		right: 0;
		bottom: 0;

	z-index: 100;
}

.navbar.titlebar p {
	padding-top:10px;
}

.navbar.footerbar .navbar-inner {
	padding:10px;
	padding-top: 4px;
}

.navbar .navbar-inner {
	-webkit-border-radius: 0px !important;
	   -moz-border-radius: 0px !important;
			border-radius: 0px !important;
}

.subheading {
	background-color: #eeeeee; /* Old browsers */
	background-repeat: repeat-x; /* Repeat the gradient */
	background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
	background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
	background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
	border: 1px solid #e5e5e5;
}